@import './components/variables';

#root {
  position: relative;
}

a {
  cursor: pointer;
  color: $primary;
  &:hover {
    text-decoration: none;
  }
}

.d-flex {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.active {
  color: rgb(29, 161, 242);
}

.c-gray {
  color: gray;
}

.thumbnail-wrapper {
  text-align: center;
  padding: 0 10px;

  .thumbnail {
    height: 48px;
    width: 48px;
    border-radius: 50%;

    &:hover {
      background-color: $background_color;
    }
  }
}


.reply-line {
  height: calc(100% - 48px);
  width: 2px;
  margin: 0 auto;
  background-color: $reply-color;
}

.content-container {
  width: 600px;
  border-right: 1px solid $border_color;
  // overflow-y: scroll;
  position: relative;

  @media (min-width: 1200px) {
    margin-left: 240px;
  }

  @media(max-width: 1200px) {
    margin-left: 10%;
  }
}

.icon-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: rgba(51, 153, 255, 0.2);
    color: blue;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}