@import './variables';
.board-container {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid $border_color;
  cursor: pointer;
  padding: 10px 0;

  &:hover {
    background-color: $background_color;
  }

  .board-wrapper {
    display: flex;
    padding: 5px 0;

    .board-content-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .board-menu {
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 20px;
        padding: 10px 2px;
        position: relative;

        .board-menu-wrapper {
          display: flex;
          align-items: center;
        }

        .like-wrapper .done {
          color: red;
        }

        .repost-wrapper .done {
          color: green;
        }
      }

      .count-display {
        margin-left: 12px;
        font-size: 16px;
      }

      .icon-wrapper {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 16px;
        position: relative;

        &:hover {
          background-color: rgba(51, 153, 255, 0.2);
          color: blue;
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }

      .for-mouse-over {
        position: absolute;
        width: 60px;
        height: 30px;

        &.repost {
          left: 21%;
        }

        &.like {
          left: 47%;
        }
      }
    }
  }
}

.board-header {
  display: flex;
  justify-content: space-between;

  .more-btn {
    color: gray;
    margin-right: 10px;
  }

  .icon {
    font-weight: normal;
  }
}

.board-info {
  display: flex;
  align-items: center;
  margin-left: 50px;
  color: darkslategray;
  font-weight: bold;
  font-size: 16px;

  .text {
    margin-left: 10px;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.user-info-wrapper {
  display: flex;
}

.username {
  font-weight: bold;
}

.userid {
  font-size: 14px;
  padding-left: 4px;
}


.dot {
  font-size: 10px;
}

.match:hover {
  text-decoration: underline;
}

.body-modal {
  padding-bottom: 10px;
}

.reply-to-wrapper {
  padding: 5px 0 10px 0;
  cursor: pointer;

  .reply-userid {
    padding-left: 5px;
    color: $primary;
  }
}
