@import './variables';
.board-container {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid $border_color;
  cursor: pointer;
  padding: 10px 0;

  &:hover {
    background-color: $background_color;
  }

  .board-info {
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: darkslategray;
    font-weight: bold;
    font-size: 16px;

    .text {
      margin-left: 10px;
      font-size: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .board-wrapper {
    display: flex;
    padding: 5px 0;

    .board-thumbnail-wrapper {
      text-align: center;
      margin: 0 10px;

      .board-thumbnail {
        max-width: 48px;
        width: 48px;
      }
    }

    .board-content-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .user-info-wrapper {
        display: flex;

        .username {
          font-weight: bold;
        }

        .userid {
          font-size: 14px;
          color: gray;
          padding-left: 4px;
        }

        .dot {
          font-size: 10px;
        }

        .time-display {
          color: gray;
        }
      }

      .board-menu {
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 20px;
        padding: 10px 2px;

        .board-menu-wrapper {
          display: flex;
          align-items: center;

          .count-display {
            margin-left: 12px;
            font-size: 16px;
          }
        }

        .repost .done {
          color: green;
        }

        .like .done {
          color: red;
        }
      }
    }
  }
}
