@import './variables';
.board-container {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid $border_color;
  cursor: pointer;
  padding: 10px 0;

  &:hover {
    background-color: $background_color;
  }

  .board-info {
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: darkslategray;
    font-weight: bold;
    font-size: 16px;

    .text {
      margin-left: 10px;
      font-size: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .board-wrapper {
    display: flex;
    padding: 5px 0;

    .board-thumbnail-wrapper {
      text-align: center;
      margin: 0 10px;

      .board-thumbnail {
        max-width: 48px;
        width: 48px;
      }
    }

    .board-content-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .board-header {
        display: flex;
        justify-content: space-between;

        .more-btn{
          color: gray;
          margin-right: 10px;
        }

        .icon {
          font-weight: normal;
        }
      }

      .user-info-wrapper {
        display: flex;
      }

      .username {
        font-weight: bold;
      }

      .userid {
        font-size: 14px;
        color: gray;
        padding-left: 4px;
      }

      .dot {
        font-size: 10px;
      }

      .quote-wrapper {
        border: 1px solid gray;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        width: 95%;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid lightgray;

        &:hover {
          background-color: rgba(211, 211, 211, 0.2);
        }

        .quote-content-wrapper {
          .quote-user-info-wrapper {
            display: flex;

            .quote-thumbnail {
              width: 15px;
              height: 15px;
              border-radius: 50%;
            }
          }
        }
      }

      .board-menu {
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 20px;
        padding: 10px 2px;
        position: relative;

        .board-menu-wrapper {
          display: flex;
          align-items: center;
        }
      }

      .count-display {
        margin-left: 12px;
        font-size: 16px;
      }

      .icon-wrapper {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 16px;
        position: relative;

        &:hover {
          background-color: rgba(51, 153, 255,0.2);
          color: blue;
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }

      .for-mouse-over {
        position: absolute;
        width: 60px;
        height: 30px;

        &.repost {
          left: 21%
        }

        &.like {
          left: 47%;
        }
      }

      .common {
      }

      // .repost {
      //   &:hover {
      //     background-color: green;
      //   }

      //   .done {
      //     color: green;
      //   }
      // }

      // .like {
      //   &:hover {
      //     background-color: red;
      //   }
      //   .done {
      //     color: red;
      //   }
      // }
    }
  }
}

.c-gray {
  color: gray;
}
