@import "./variables";

.home-container {
  width: 100%;

  .home-header {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid $border_color;
    width: 100%;
  }

  .home-tweet-wrapper {
    max-height: 850px;
    display: flex;
    border-bottom: 0.5px solid $border_color;

    .thumbnail {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }

    .home-tweet {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      width: 100%;

      .tweet-textarea {
        width: 100%;
        border: none;
        font-size: 20px;
        padding: 15px 0;
        height: auto;

        &:focus {
          border: none;
          outline: none;
        }
      }

      .tweet-tag {
        color: $primary;
        width: 95%;
        padding-bottom: 10px;
        border-bottom: 1px solid $border_color;
        // display: flex;
        // align-items: center;

        .tag-text {
          font-size: 13px;
        }
      }

      .tweet-select-wrapper {
        color: $primary;
        padding: 10px 0;
        align-items: center;
        justify-content: space-between;

        .tweet-select-list {
          font-size: 20px;

          li {
            padding-right: 20px;
          }
        }

        .send-tweet-btn {
          width: 120px;
          height: 38px;
          border-radius: 19px;
          margin-right: 20px;
          line-height: 38px;
          text-align: center;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
.empty-zone {
  height: 20px;
  background-color: rgb(247, 249, 250);
}