.login-container {
  width: 400px;
  margin: 20px auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  // align-items: center;

  .main-icon {
    color: $primary;
    padding: 10px 0;
    font-size: 40px;
  }

  .login-header {
    padding: 10px 0;
    font-weight: bold;
    font-size: 30px;
  }

  .login-field-container {
    position: relative;
    height: 55px;
    margin: 10px 0;
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 5px;

    .login-field {
      width: 95%;
      // height: 30px;
      height: 100%;
      position: absolute;
      font-size: 20px;
      border: none;
      opacity: 0.5;
      bottom: 0;
      left: 1%;

      &:focus {
        outline: none;
      }
    }

    .login-field-description {
      font-size: 20px;
      position: absolute;
      top: 20%;
      left: 2%;
      transition: 0.2s;
      // font-size: 13px;
      // position: absolute;
      // top: 2%;
    }
  }

  // .login-password-container {
  //   position: relative;

  //   .login-password-field {
  //     position: absolute;
  //   }
  // }

  .login-btn {
    margin: 10px 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    margin-right: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: $primary;
  }

  .disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  .help-menu-container {
    display: flex;
    justify-content: space-around;
  }
}
