@import './variables';

.sidebar {
  border-right: 1px solid $border_color;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100vh;
  margin-top: 10px;
  padding-right: 10px;
  width: 50px;

  @media (min-width: 600px) {
    width: 10%;
  }

  @media (min-width: 1200px) {
    width: 240px;
  }

  @media (max-width: 600px) {
    padding: 0;
  }

  .menu-list {
    // color: white;
    flex-direction: column;
    align-items: center;
    font-size: 24px;

    @media (min-width: 1200px) {
      align-items: flex-start;
    }

    .main-icon {
      font-size: 28px;
      color: $primary;
    }

    .icon-wrapper {
      cursor: pointer;
      padding: 0;
      margin: 5px 0;
      width: 46px;
      height: 46px;
      position: relative;
      border-radius: 28px;
      display: flex;
      font-size: 24px;

      &:hover {
        background-color: $background_primary_thin_trans;
        color: $background_primary;
      }

      .menu-detail {
        font-weight: bold;
        display: none;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    @media (min-width: 1200px) {
      .icon-wrapper {
        width: auto;
        display: flex;
        align-items: center;
        padding: 5px 10px;

        .icon {
          position: static;
          transform: translate(0);
        }

        .menu-detail {
          display: block;
          font-weight: bold;
          margin-left: 15px;
          font-size: 18px;
        }
      }
    }

    .post {
      cursor: pointer;
      margin-top: 15px;
      position: relative;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      background-color: $background_primary_dark_trans;
      font-weight: bold;
      color: white;

      &:hover {
        background-color: $background_primary;
      }

      .do-post {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      .post {
        margin-top: 15px;
        border-radius: 50%;
        width: auto;
        height: auto;
        background-color: $background_primary_dark_trans;
        width: 180px;
        height: 40px;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;

        .post-btn {
          display: none;
        }

        .do-post {
          display: block;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  .account-info-container {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    border-radius: 25px;
    padding-right: 10px;
    cursor: pointer;
    margin-bottom: 20px;


    @media (max-width: 1200px) {
      width: 50px;
      height: 50px;
      padding: 0;
    }

    &:hover {
      background-color: $background_primary_thin_trans;
    }

    .icon {
      font-weight: normal;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.account-info-wrapper {
  display: flex;
  align-items: center;

  .thumbnail {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }

  .account-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    @media (max-width: 1200px) {
      display: none;
    }
    .username {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

