@import './variables';

.sidebar {
  border-right: 1px solid $border_color;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-left: 60px;
  margin-top: 10px;

  @media (min-width: 1200px) {
    width: 280px;
  }

  .menu-list {
    // color: white;
    flex-direction: column;
    align-items: center;
    font-size: 24px;

    @media (min-width: 1200px) {
      align-items: flex-start;
    }

    .main-icon {
      font-size: 28px;
      color: $primary;
    }

    .icon-wrapper {
      cursor: pointer;
      padding: 0;
      margin: 5px 0;
      width: 46px;
      height: 46px;
      position: relative;
      border-radius: 28px;
      display: flex;
      font-size: 24px;

      &:hover {
        background-color:  $background_primary_thin_trans;
        color: $background_primary;
      }

      .menu-detail {
        font-weight: bold;
        display: none;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    @media (min-width: 1200px) {
      .icon-wrapper {
        width: auto;
        display: flex;
        align-items: center;
        padding: 5px 10px;

        .icon {
          position: static;
          transform: translate(0);
        }

        .menu-detail {
          display: block;
          font-weight: bold;
          margin-left: 15px;
          font-size: 18px;
        }
      }
    }

    .tweet {
      cursor: pointer;
      margin-top: 15px;
      position: relative;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      background-color: $background_primary_dark_trans;
      font-weight: bold;
      color: white;

      &:hover {
        background-color: $background_primary;
      }

      .do-tweet {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      .tweet {
        margin-top: 15px;
        border-radius: 50%;
        width: auto;
        height: auto;
        background-color: $background_primary_dark_trans;
        width: 180px;
        height: 40px;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;

        .tweet-btn {
          display: none;
        }

        .do-tweet {
          display: block;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  .account-info-container {
    display: flex;
    align-items: center;
    width: 240px;
    justify-content: space-between;
    border-radius: 25px;
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      background-color: $background_primary_thin_trans;
    }

    .account-info-wrapper {
      display: flex;
      align-items: center;

      .thumbnail {
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }

      .account-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .username {
          font-size: 18px;
          font-weight: bold;
        }

      }
    }
    .icon {
      font-weight: normal;
    }
  }
}
