$border_color: rgba(211, 211, 211, 0.7);
$background_color: rgba(211, 211, 211, 0.2);
$reply-color: rgba(211, 211, 211, 0.8);
$background_primary_thin_trans: rgba(29, 161, 242, 0.2);
$background_primary_dark_trans: rgba(29, 161, 242, 0.8);
$background_primary: rgb(29, 161, 242)